n8n-workflow-calculator.json
{
  "name": "Marketing Calculator - Quote Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "calculateur-marketing",
        "options": {}
      },
      "id": "3b540cef-5494-4956-adeb-50daa27725fb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        300,
        500
      ],
      "webhookId": "calculateur-marketing-form"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.contact.email }}",
        "subject": "=Votre devis Marketing Digital - {{ $json.body.pricing.effectiveMonthlyPrice || 'sur-mesure' }}€/mois | MyDigipal",
        "message": "=<div style=\"font-family: 'Segoe UI', Arial, sans-serif; max-width: 650px; margin: 0 auto; background: #ffffff;\">\n\n<div style=\"background: linear-gradient(135deg, #4F46E5 0%, #7C3AED 100%); padding: 30px; border-radius: 12px 12px 0 0;\">\n<h1 style=\"color: white; margin: 0; font-size: 24px;\">Merci {{ $json.body.contact.name }} ! 🎉</h1>\n<p style=\"color: rgba(255,255,255,0.9); margin: 10px 0 0 0;\">Ton devis Marketing Digital est prêt</p>\n</div>\n\n<div style=\"padding: 30px; border: 1px solid #E5E7EB; border-top: none; border-radius: 0 0 12px 12px;\">\n\n<p style=\"color: #374151; line-height: 1.7; font-size: 15px;\">Merci pour ta demande de devis ! On voit que tu t'intéresses à {{ $json.body.selectedDomains.join(', ') }}. C'est une excellente combinaison pour booster ta présence digitale. Je te recontacte dans les prochaines 24-48h pour discuter de tout ça en détail. En attendant, n'hésite pas à répondre à cet email si tu as des questions !</p>\n\n<div style=\"background: #F9FAFB; padding: 25px; border-radius: 12px; margin: 25px 0; border: 1px solid #E5E7EB;\">\n<h2 style=\"margin: 0 0 20px 0; color: #1F2937; font-size: 18px; border-bottom: 2px solid #4F46E5; padding-bottom: 10px;\">📋 Récapitulatif de ton devis</h2>\n\n<div style=\"margin-bottom: 15px;\">\n<p style=\"color: #6B7280; font-size: 12px; text-transform: uppercase; margin: 0 0 5px 0;\">Domaines sélectionnés</p>\n<p style=\"color: #1F2937; margin: 0; font-weight: 600;\">{{ $json.body.selectedDomains.join(', ') }}</p>\n</div>\n\n<div style=\"margin-bottom: 15px;\">\n<p style=\"color: #6B7280; font-size: 12px; text-transform: uppercase; margin: 0 0 5px 0;\">Durée d'engagement</p>\n<p style=\"color: #1F2937; margin: 0;\">{{ $json.body.duration }} mois</p>\n</div>\n\n<div style=\"background: linear-gradient(135deg, #4F46E5 0%, #7C3AED 100%); padding: 20px; border-radius: 8px; margin-top: 20px;\">\n<p style=\"color: rgba(255,255,255,0.9); margin: 0; font-size: 14px;\">Ton investissement</p>\n<p style=\"color: white; margin: 5px 0 0 0; font-size: 32px; font-weight: bold;\">{{ $json.body.pricing.effectiveMonthlyPrice }}€<span style=\"font-size: 16px; font-weight: normal;\">/mois</span></p>\n<p style=\"color: rgba(255,255,255,0.8); margin: 8px 0 0 0; font-size: 13px;\">Total sur {{ $json.body.duration }} mois : {{ $json.body.pricing.grandTotalWithoutBudget }}€</p>\n</div>\n</div>\n\n<div style=\"background: #F0FDF4; padding: 20px; border-radius: 12px; margin: 25px 0; border: 1px solid #BBF7D0;\">\n<h3 style=\"color: #166534; margin: 0 0 10px 0; font-size: 16px;\">✨ Inclus dans tous nos services</h3>\n<ul style=\"color: #15803D; margin: 0; padding-left: 20px; line-height: 1.8;\">\n<li>Optimisation pour les LLMs (ChatGPT, Perplexity, Copilot)</li>\n<li>Outils premium (Ahrefs, SEMrush, Meta Business Suite)</li>\n<li>Reporting mensuel détaillé</li>\n<li>Support réactif par email et visio</li>\n</ul>\n</div>\n\n<div style=\"background: #FEF3C7; padding: 15px 20px; border-radius: 8px; margin: 20px 0; border-left: 4px solid #F59E0B;\">\n<p style=\"color: #92400E; margin: 0; font-size: 14px;\">💬 <strong>Des questions ?</strong> Réponds directement à cet email, je te répondrai personnellement !</p>\n</div>\n\n<div style=\"margin-top: 30px; padding-top: 20px; border-top: 1px solid #E5E7EB;\">\n<p style=\"color: #374151; margin: 0;\">À très vite,</p>\n<p style=\"margin: 8px 0 0 0;\"><strong style=\"color: #1F2937; font-size: 16px;\">Paul MUSIC</strong></p>\n<p style=\"color: #6B7280; margin: 2px 0;\">CEO - MyDigipal</p>\n<p style=\"margin: 8px 0 0 0;\"><a href=\"mailto:paul@mydigipal.com\" style=\"color: #4F46E5; text-decoration: none;\">paul@mydigipal.com</a></p>\n<p style=\"margin: 4px 0 0 0;\"><a href=\"https://www.mydigipal.com\" style=\"color: #4F46E5; text-decoration: none;\">www.mydigipal.com</a></p>\n</div>\n\n</div>\n</div>",
        "options": {
          "ccList": "paul@mydigipal.com",
          "replyTo": "paul@mydigipal.com"
        }
      },
      "id": "677e4e03-e4b6-428b-8904-a3dfd313111b",
      "name": "Send Email to Prospect",
      "type": "n8n-nodes-base.gmail",
      "position": [
        560,
        400
      ],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GcKRQn96MQn4VdEL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "paul@mydigipal.com",
        "subject": "=🔔 Nouveau lead calculateur: {{ $json.body.contact.name }} ({{ $json.body.contact.company || 'Pas de société' }}) - {{ $json.body.pricing.grandTotalWithoutBudget }}€",
        "message": "=<div style=\"font-family: Arial, sans-serif; max-width: 700px;\">\n\n<div style=\"background: linear-gradient(135deg, #4F46E5 0%, #7C3AED 100%); padding: 20px; border-radius: 8px 8px 0 0;\">\n<h2 style=\"color: white; margin: 0;\">🎯 Nouveau lead depuis le calculateur!</h2>\n<p style=\"color: rgba(255,255,255,0.9); margin: 5px 0 0 0;\">{{ $now.format('dd/MM/yyyy HH:mm') }}</p>\n</div>\n\n<div style=\"background: #fff; padding: 25px; border: 1px solid #E5E7EB; border-top: none; border-radius: 0 0 8px 8px;\">\n\n<h3 style=\"color: #4F46E5; margin: 0 0 15px 0;\">👤 Contact</h3>\n<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 25px;\">\n<tr><td style=\"padding: 10px; border-bottom: 1px solid #eee; width: 140px;\"><strong>Nom:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.body.contact.name }}</td></tr>\n<tr><td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Email:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><a href=\"mailto:{{ $json.body.contact.email }}\">{{ $json.body.contact.email }}</a></td></tr>\n<tr><td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Entreprise:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.body.contact.company || 'Non renseigné' }}</td></tr>\n</table>\n\n<h3 style=\"color: #4F46E5; margin: 0 0 15px 0;\">📊 Sélection</h3>\n<table style=\"width: 100%; border-collapse: collapse; margin-bottom: 25px;\">\n<tr><td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Domaines:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.body.selectedDomains.join(', ') }}</td></tr>\n<tr><td style=\"padding: 10px; border-bottom: 1px solid #eee;\"><strong>Durée:</strong></td><td style=\"padding: 10px; border-bottom: 1px solid #eee;\">{{ $json.body.duration }} mois</td></tr>\n</table>\n\n<div style=\"background: #F0FDF4; padding: 20px; border-radius: 8px; margin-bottom: 25px;\">\n<h3 style=\"color: #166534; margin: 0 0 10px 0;\">💰 Financier</h3>\n<table style=\"width: 100%; border-collapse: collapse;\">\n<tr><td style=\"padding: 5px 0;\">Mensuel:</td><td style=\"text-align: right;\">{{ $json.body.pricing.monthlyAfterDiscount }}€/mois</td></tr>\n<tr><td style=\"padding: 5px 0;\">One-off:</td><td style=\"text-align: right;\">{{ $json.body.pricing.oneOffTotal }}€</td></tr>\n<tr style=\"font-size: 18px; font-weight: bold; border-top: 2px solid #ccc;\"><td style=\"padding: 10px 0;\">TOTAL:</td><td style=\"text-align: right; color: #059669;\">{{ $json.body.pricing.grandTotalWithoutBudget }}€</td></tr>\n</table>\n</div>\n\n<div style=\"text-align: center; padding-top: 20px; border-top: 1px solid #E5E7EB;\">\n<a href=\"mailto:{{ $json.body.contact.email }}?subject=Re: Votre devis MyDigipal\" style=\"display: inline-block; background: #4F46E5; color: white; padding: 12px 30px; border-radius: 8px; text-decoration: none; font-weight: bold;\">📧 Répondre au prospect</a>\n</div>\n\n</div>\n</div>",
        "options": {}
      },
      "id": "b256f8d1-a2f0-4333-8d0b-ec7d1edb3152",
      "name": "Notify Paul",
      "type": "n8n-nodes-base.gmail",
      "position": [
        560,
        600
      ],
      "typeVersion": 2.1,
      "credentials": {
        "gmailOAuth2": {
          "id": "GcKRQn96MQn4VdEL",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "62a7be75-1e4a-42af-b18e-f105aa434745",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        800,
        500
      ],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send Email to Prospect",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Paul",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Prospect": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Paul": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "27e5ae242e5e368272e0dce999a9b80d042f58fe5b66d36f2c66f7002433a89c"
  }
}
